#admin-section{
  padding: 20px;
  min-height: 100vh;
}

#admin-section h1{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

#admin-section p{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#admin-section form{
  margin:auto;
  width: 50%;
  padding: 20px;
}

#admin-section form *{
  display:block;
  width: 100%;
}

#admin-section form input,
#admin-section form textarea {
  padding: 5px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  border: 1px solid gray;
}

#admin-section form button {
  margin-top: 10px;
  border: none;
  padding: 8px 16px;
  background-color: rgb(69, 96, 15);
  border-radius: 10px;
  color: white;
  cursor: pointer;
}